/**
 * Style cho component dropdown
 * CreatedBy: dbhuan (01/07/2021)
 */

$dropdown-item-height: 40px; // chiều cao item dropdown
$dropdown-item-padding-horizontally: 12px; // padding chiều ngang của item dropdown
$dropdown-item-padding-vertically: 0; // padding chiều dọc của item dropdown
$dropdown-item-hover-background-color: #00d1b2; // màu nền của item dropdown khi hover, focus.
$dropdown-item-hover-color: #fff; // màu của item dropdown khi hover, focus.

.h-dropdown {
  position: relative;
  display: inline-block;

  .h-dropdown-toggle {
    cursor: pointer;
  }

  .h-dropdown-content {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    min-width: 100%;
    transition: height 0.3s;
    background-color: #fff;

    .h-dropdown-item {
      height: $dropdown-item-height;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding: $dropdown-item-padding-vertically
        $dropdown-item-padding-horizontally;
      cursor: pointer;

      &:hover {
          background-color: $dropdown-item-hover-background-color;
          color: $dropdown-item-hover-color;
      }
    }

    &.hide {
      display: none;
      height: 0;
    }
  }
}
