/**
 * 
 * Author: Jocelyn
 * Email: duong.huan2122000@gmail.com
 * Github: https://github.com/duonghuan2122000
 * CreatedDate: 27/06/2021
 */

// màu
$color-primary: #00d1b2; // màu chính
$color-secondary: #fff; // màu secondary
$color-success: #48c78e; // màu success
$color-warning: #ffe08a; // màu warning
$color-danger: #f14668; // màu danger

// màu khi hover
$color-hover-primary: #00c4a7; // màu chính
$color-hover-secondary: #f1f1f1; // màu secondary
$color-hover-success: #3ec487; // màu success
$color-hover-warning: #ffdc7d; // màu waring
$color-hover-danger: #f03a5f; // màu danger