/**
 * Style chung cho toàn ứng dụng
 * Author: Jocelyn
 * Email: duong.huan2122000@gmail.com
 * Github: https://github.com/duonghuan2122000
 * CreatedDate: 27/06/2021
 */

html,
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	font-size: inherit;
}

/**
 * Thêm flexbox vào base
 * CreatedBy: dbhuan (02/07/2021)
 */
@import "../utilities/flexbox.scss";

/**
 * Thêm spacer (padding và margin) vào base
 * CreatedBy: dbhuan (02/07/2021)
 */
@import "../utilities/spacer.scss";

/**
 * Thêm highlight code vào base
 * @author CreatedBy: dbhuan (04/07/2021)
 */
@import "../utilities/highlight.scss";
