/**
 * Style cho component button
 * Author: Jocelyn
 * Email: duong.huan2122000@gmail.com
 * Github: https://github.com/duonghuan2122000
 * CreatedDate: 27/06/2021
 */

@use "sass:map";
@import "../../utilities/variables";

$button-border-color: #f1f1f1; // màu viền của button
$button-border-radius: 4px; // độ bo tròn của button
$button-padding-horizontally: 16px; // padding chiều ngang
$button-padding-vertically: 0px; // padding chiều dọc
$button-height: 40px; // chiều cao

// màu nền của các loại button
$button-types: (
	"primary": $color-primary,
	"secondary": $color-secondary,
	"success": $color-success,
	"warning": $color-warning,
	"danger": $color-danger,
);

$button-hover-types: (
	"primary": $color-hover-primary,
	"secondary": $color-hover-secondary,
	"success": $color-hover-success,
	"warning": $color-hover-warning,
	"danger": $color-hover-danger,
);

$button-secondary-background-color: transparent; // background color secondary của button
$button-secondary-hover-background-color: #f1f1f1; // background color secondary khi hover của button
$button-secondary-color: #000; // màu chữ secondary của button
$button-secondary-hover-color: #000; // màu chữ secondary khi hover của button

@mixin button-type-mixin($types...) {
	@for $i from 0 to length($types) {
		&.is-#{nth($types, $i + 1)} {
			background-color: map.get($button-types, nth($types, $i + 1));
			color: #fff;

			&:hover,
			&:focus {
				background-color: map.get(
					$button-hover-types,
					nth($types, $i + 1)
				);
			}
		}
	}
}

.h-button {
	display: inline-block;
	border: 1px solid $button-border-color;
	border-radius: $button-border-radius;
	padding: $button-padding-vertically $button-padding-horizontally;
	text-decoration: none;
	cursor: pointer;
	transition: background 0.3s;
	height: 40px;

	@include button-type-mixin(
		"primary",
		"secondary",
		"success",
		"warning",
		"danger"
	);

	// định nghĩa style cho button secondary
	&.is-secondary {
		background-color: $button-secondary-background-color;
		color: $button-secondary-color;
		border-color: rgb(150, 150, 150);

		&:hover,
		&:focus {
			background-color: $button-secondary-hover-background-color;
			color: $button-secondary-hover-color;
			border-color: rgb(120, 120, 120);
		}
	}
}
